.Profile {
  background-image: url(./icons/profile.svg);
  background-repeat: no-repeat;
  alt: 👤;
  color: gold;
}

.Notifications {
  background-image: url(./icons/notification.svg);
  background-repeat: no-repeat;
  color: gold;
}
.Logo {
  background-image: url(./icons/camera.svg);
  background-repeat: no-repeat;

  color: gold;
}

.Like {
  background-image: url(./icons/heart.svg);
  background-repeat: no-repeat;
  alt: ♡;
  color: gold;
}

.Upload {
  background-image: url(./icons/upload.svg);
  background-repeat: no-repeat;
  color: rgb(5, 5, 5);
}
.uploadImage{
  background: white;
  background-image: url(./icons/camera.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius:8px;
  border:rgb(7, 7, 7) solid 1px;
  width:260px; 
  height: 230px;
    
  }